@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Title = "Home Page";
}

<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>
                            Sağlık hizmetlerine
                            geleceği getiriyoruz!
                        </h1>
                        <p>Hastaların şikayetleri sonucu saptanan hastalıklarının hastanelerde doktorlar ile birlikte yüz yüze iletişime geçmesi harici, hastalığı ile ilgili verilere ulaşamaması ve hastalığı hakkında her an bilgi alamamasına son, hastalar durumlarını takip edebildikleri platforma artık ulaşabilecek...</p>
                        @Html.ActionLink("Randevu Sistemi", "RandevuAl", "Home", new { @class = "nav-link btn_2" })
                        <div class="banner_item">
                            <div class="single_item">
                                <img src="/img/icon/banner_1.svg" alt="">
                                <h5>Acil durumlar</h5>
                            </div>
                            <div class="single_item">
                                <img src="/img/icon/banner_2.svg" alt="">
                                <h5>Kolay Randevu</h5>
                            </div>
                            <div class="single_item">
                                <img src="/img/icon/banner_3.svg" alt="">
                                <h5>Başarılı Doktorlar</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->
<!-- feature_part start-->
<section class="feature_part padding_top">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 align-self-center">
                <div class="single_feature_text ">
                    <h2>Özel Hizmetler Sunuyoruz</h2>
                    <p>
                        İster kendinize hesap oluşturun, ister oluşturmayın.Birden fazla
                        ek hizmetten faydalanabilir, bize gelişmemiz için geri
                        bildirimlerde bulunabilirsiniz.
                    </p>
                    @Html.ActionLink("Hizmetler", "ilacHatırlatıcı", "Home", new { @class = "nav-link btn_2" })
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="feature_item">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <span class="single_feature_icon">
                                        <img src="/img/icon/feature_1.svg"
                                             alt="">
                                    </span>
                                    <h4>İlaç Hatırlatıcı</h4>
                                    <p>Açıklama 1</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <span class="single_feature_icon">
                                        <img src="/img/icon/feature_2.svg"
                                             alt="">
                                    </span>
                                    <h4>Tahlil Sorgulama</h4>
                                    <p>Açıklama 2</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <span class="single_feature_icon">
                                        <img src="/img/icon/feature_2.svg"
                                             alt="">
                                    </span>
                                    <h4>Hizmet 3</h4>
                                    <p>Açıklama 3</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="single_feature">
                                <div class="single_feature_part">
                                    <span class="single_feature_icon">
                                        <img src="/img/icon/feature_1.svg"
                                             alt="">
                                    </span>
                                    <h4>Hizmet 4</h4>
                                    <p>Açıklama 4</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature_part start-->
<!-- our_ability part start-->
<section class="our_ability section_padding">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="our_ability_img">
                    <img src="/img/ability_img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="our_ability_member_text">
                    <h2>Hastalarımız Yaptığımız Her Şeyin Merkezindedir</h2>
                    <p>
                        Sunduğumuz tüm sağlık hizmetlerinde, tıbbın ulaştığı en üst düzeyde, güvenilir, hasta
                        odaklı ve kaliteli hizmet veren, hasta ve çalışan güvenliğini ön planda tutan, hasta haklarına
                        saygılı, çevreye duyarlı, nitelikli, çok çalışan, yenilikçi ve sürekli kendini
                        geliştiren öncü bir ekibiz.
                    </p>
                    <ul>
                        <li><span class="ti-mouse"></span>Modern Teknoloji</li>
                        <li><span class="ti-heart-broken"></span>Birinci Sınıf Hizmetler</li>
                        <li><span class="ti-package"></span>Tecrübeli Doktorlar</li>
                        <li><span class="ti-headphone-alt"></span>24 Saat Destek</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our_ability part end-->
<!-- top_service part start-->
<section class="top_service our_ability padding_bottom">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-5 col-lg-5">
                <div class="our_ability_member_text">
                    <h2>En İyi Hizmet İçin Sağlık Durumlarınızı Analiz Ediyoruz</h2>
                    <p>
                        Uzmanlaştığımız her alanda ülkemizde sunduğumuz hizmetin bilimselliği ve kalitesi ile
                        ilklerin içinde yer almayı, uluslararası alanda tıbbın ulaştığı en üst düzeydeki uygulamaları
                        takip ederek gelişimine katkıda bulunmayı ve bu çalışmaları akademik ortamda da
                        sürdürmeyi hedefleyen bir ekibiz.
                    </p>
                    @Html.ActionLink("Hakkında", "Hakkında", "Home", new { @class = "nav-link btn_2" })

                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="our_ability_img">
                    <img src="/img/top_service.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- top_service part end-->
<!--::review_part start::-->
<section class="review_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="client_review_part owl-carousel">
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>Sağlıklı yaşasa bile, dengesiz düşünen insan strese düşer, sinir sistemi tahrip olur.</p>
                        </div>
                        <h4>Muhammed Bozdağ, <span>Türk düşünür</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text media-body">
                            <p>Vücuduna tükenmez bir sadakatle bak. Gönül, yalnızca bu gözler aracılığıyla görür ve o gözlerin feri yoksa bütün dünya bulanık görünür…</p>
                        </div>
                        <h4>Goethe, <span>Ünlü düşünür</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>
                                Bugün temiz hava aldığım ve temiz su içtiğim için minnettarım.
                                Beni seven dostlarım ve ailem olduğu için minnettarım.
                                Sağlıklı bir bedenim, yaratıcı bir zihnim ve ilginç bir işim olduğu için minnettarım…
                            </p>
                        </div>
                        <h4>Arielle Ford, <span>Ünlü düşünür</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>Hareket eksikliği her insanda iyi kondisyonu yok eder, hareket ve metodolojik fiziksel egzersiz ise onu korur ve sürdürebilmesini sağlar.</p>
                        </div>
                        <h4>Eflatun, <span>Ünlü düşünür</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--::review_part end::-->

<!-- intro_video_bg start-->
@*<section class="intro_video_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro_video_iner text-center">
                    <h2>Sisteme Giriş Yap</h2>
                    <div class="intro_video_icon">
                        <a id="play-video_1" class="video-play-button popup-youtube"
                           href="#">
                            <span class="ti-control-play"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!-- intro_video_bg part start-->
@*<!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>
                                Sağlık hizmetlerine
                                geleceği getiriyoruz!
                            </h1>
                            <p>Hastaların şikayetleri sonucu saptanan hastalıklarının hastanelerde doktorlar ile birlikte yüz yüze iletişime geçmesi harici, hastalığı ile ilgili verilere ulaşamaması ve hastalığı hakkında her an bilgi alamamasına son, hastalar durumlarını takip edebildikleri platforma artık ulaşabilecek...</p>
                            <a href="#" class="btn_2">Randevu Sistemine Giriş</a>
                            <div class="banner_item">
                                <div class="single_item">
                                    <img src="/img/icon/banner_1.svg" alt="">
                                    <h5>Acil durumlar</h5>
                                </div>
                                <div class="single_item">
                                    <img src="/img/icon/banner_2.svg" alt="">
                                    <h5>Kolay Randevu</h5>
                                </div>
                                <div class="single_item">
                                    <img src="/img/icon/banner_3.svg" alt="">
                                    <h5>Başarılı Doktorlar</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->
    <!-- feature_part start-->
    <section class="feature_part padding_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4 align-self-center">
                    <div class="single_feature_text ">
                        <h2>Özel Hizmetler Sunuyoruz</h2>
                        <p>
                            Third beast two she'd multiply they're form he above do Replenish days said
                            set doesn't can't subdue air herb lesser dominion saying fruitful given
                            fifth winged Third beast two she'd multiply they're form he above their
                            Replenish days said set doesn can'which.
                        </p>
                        <a href="#" class="btn_2">Hizmetleri görüntüle</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="feature_item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon">
                                            <img src="/img/icon/feature_1.svg"
                                                 alt="">
                                        </span>
                                        <h4>İlaç Hatırlatıcı</h4>
                                        <p>Açıklama 1</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon">
                                            <img src="/img/icon/feature_2.svg"
                                                 alt="">
                                        </span>
                                        <h4>Tahlil Sorgulama</h4>
                                        <p>Açıklama 2</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon">
                                            <img src="/img/icon/feature_2.svg"
                                                 alt="">
                                        </span>
                                        <h4>Hizmet 3</h4>
                                        <p>Açıklama 3</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <div class="single_feature">
                                    <div class="single_feature_part">
                                        <span class="single_feature_icon">
                                            <img src="/img/icon/feature_1.svg"
                                                 alt="">
                                        </span>
                                        <h4>Hizmet 4</h4>
                                        <p>Açıklama 4</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature_part start-->
    <!-- our_ability part start-->
    <section class="our_ability section_padding">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-6 col-lg-6">
                    <div class="our_ability_img">
                        <img src="/img/ability_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="our_ability_member_text">
                        <h2>Hastalarımız Yaptığımız Her Şeyin Merkezindedir</h2>
                        <p>
                            Sunduğumuz tüm sağlık hizmetlerinde, tıbbın ulaştığı en üst düzeyde, güvenilir, hasta
                            odaklı ve kaliteli hizmet veren, hasta ve çalışan güvenliğini ön planda tutan, hasta haklarına
                            saygılı, çevreye duyarlı, nitelikli, çok çalışan, yenilikçi ve sürekli kendini
                            geliştiren öncü bir ekibiz.
                        </p>
                        <ul>
                            <li><span class="ti-mouse"></span>Modern Teknoloji</li>
                            <li><span class="ti-heart-broken"></span>Birinci Sınıf Hizmetler</li>
                            <li><span class="ti-package"></span>Tecrübeli Doktorlar</li>
                            <li><span class="ti-headphone-alt"></span>24 Saat Destek</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our_ability part end-->
    <!-- top_service part start-->
    <section class="top_service our_ability padding_bottom">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-5 col-lg-5">
                    <div class="our_ability_member_text">
                        <h2>En İyi Hizmet İçin Sağlık Durumlarınızı Analiz Ediyoruz</h2>
                        <p>
                            Uzmanlaştığımız her alanda ülkemizde sunduğumuz hizmetin bilimselliği ve kalitesi ile
                            ilklerin içinde yer almayı, uluslararası alanda tıbbın ulaştığı en üst düzeydeki uygulamaları
                            takip ederek gelişimine katkıda bulunmayı ve bu çalışmaları akademik ortamda da
                            sürdürmeyi hedefleyen bir ekibiz.
                        </p>
                        <a href="#" class="btn_2">Hakkımızda</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="our_ability_img">
                        <img src="/img/top_service.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- top_service part end-->
    <!--::review_part start::-->
    <section class="review_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="client_review_part owl-carousel">
                        <div class="client_review_single">
                            <img src="/img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>Sağlıklı yaşasa bile, dengesiz düşünen insan strese düşer, sinir sistemi tahrip olur.</p>
                            </div>
                            <h4>Muhammed Bozdağ, <span>Türk düşünür</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="/img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text media-body">
                                <p>Vücuduna tükenmez bir sadakatle bak. Gönül, yalnızca bu gözler aracılığıyla görür ve o gözlerin feri yoksa bütün dünya bulanık görünür…</p>
                            </div>
                            <h4>Goethe, <span>Ünlü düşünür</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="/img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>
                                    Bugün temiz hava aldığım ve temiz su içtiğim için minnettarım.
                                    Beni seven dostlarım ve ailem olduğu için minnettarım.
                                    Sağlıklı bir bedenim, yaratıcı bir zihnim ve ilginç bir işim olduğu için minnettarım…
                                </p>
                            </div>
                            <h4>Arielle Ford, <span>Ünlü düşünür</span></h4>
                        </div>
                        <div class="client_review_single">
                            <img src="/img/Quote.png" class="Quote" alt="quote">
                            <div class="client_review_text">
                                <p>Hareket eksikliği her insanda iyi kondisyonu yok eder, hareket ve metodolojik fiziksel egzersiz ise onu korur ve sürdürebilmesini sağlar.</p>
                            </div>
                            <h4>Eflatun, <span>Ünlü düşünür</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::review_part end::-->
    <!--::doctor_part start::-->
    <section class="doctor_part section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="section_tittle text-center">
                        <h2> Experienced Doctors</h2>
                        <p>Face replenish sea good winged bearing years air divide wasHave night male also</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="/img/doctor/doctor_1.png" alt="doctor">
                            <div class="social_icon">
                                <a href="#"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#"> <i class="ti-instagram"></i> </a>
                                <a href="#"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text">
                                <h3>DR Adam Billiard</h3>
                                <p>Heart specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="/img/doctor/doctor_4.png" alt="doctor">
                            <div class="social_icon">
                                <a href="#"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#"> <i class="ti-instagram"></i> </a>
                                <a href="#"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text">
                                <h3>DR Adam Billiard</h3>
                                <p>Medicine specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="/img/doctor/doctor_2.png" alt="doctor">
                            <div class="social_icon">
                                <a href="#"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#"> <i class="ti-instagram"></i> </a>
                                <a href="#"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text">
                                <h3>DR Fred Macyard</h3>
                                <p>CHeart specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="single_blog_item">
                        <div class="single_blog_img">
                            <img src="/img/doctor/doctor_3.png" alt="doctor">
                            <div class="social_icon">
                                <a href="#"> <i class="ti-facebook"></i> </a>
                                <a href="#"> <i class="ti-twitter-alt"></i> </a>
                                <a href="#"> <i class="ti-instagram"></i> </a>
                                <a href="#"> <i class="ti-skype"></i> </a>
                            </div>
                        </div>
                        <div class="single_text">
                            <div class="single_blog_text">
                                <h3>DR Justin Stuard</h3>
                                <p>Heart specialist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::doctor_part end::-->
    <!-- intro_video_bg start-->
    <section class="intro_video_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro_video_iner text-center">
                        <h2>Sisteme Giriş Yap</h2>
                        <div class="intro_video_icon">
                            <a id="play-video_1" class="video-play-button popup-youtube"
                               href="https://www.youtube.com/watch?v=pBFQdxA-apI">
                                <span class="ti-control-play"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- intro_video_bg part start-->*@