
@{
    ViewBag.Title = "RandevuAl";
}

<section class="breadcrumb breadcrumb_bg" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Randevu Sistemi</h2>
                        <p>Ana Sayfa<span>/</span>Randevu Sistemi</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br><br><br><br><br><br><br>
<section class="regervation_part" style="margin-bottom:30px">
    <div class="container">
        <div class="row align-items-center regervation_content">
            <div class="col-lg-7 col-md-6">
                <div class="regervation_part_iner">
                    <form>
                        <h2>Randevu Al</h2>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="inputEmail4" placeholder="Ad">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control" id="inputPassword4"
                                       placeholder="Email">
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" id="Select">
                                    <option value="1" selected>Servis 1</option>
                                    <option value="2">Servis 2</option>
                                    <option value="3">Servis 3</option>
                                    <option value="4">Servis 4</option>
                                    <option value="5">Servis 5</option>
                                </select>
                            </div>
                            <div class="form-group time_icon col-md-6">
                                <select class="form-control" id="Select2">
                                    <option value="" selected>Saat</option>
                                    <option value="1">8 AM TO 10AM</option>
                                    <option value="1">10 AM TO 12PM</option>
                                    <option value="1">12PM TO 2PM</option>
                                    <option value="1">2PM TO 4PM</option>
                                    <option value="1">4PM TO 6PM</option>
                                    <option value="1">6PM TO 8PM</option>
                                    <option value="1">4PM TO 10PM</option>
                                    <option value="1">10PM TO 12PM</option>
                                </select>
                            </div>                           
                        </div>
                        <div class="regerv_btn">
                            <a href="#" class="regerv_btn_iner">Randevu Al</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="reservation_img">
                    <img src="/img/reservation.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our_ability section_padding">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="our_ability_img">
                    <img src="/img/ability_img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="our_ability_member_text">
                    <h2>Hastalarımız Yaptığımız Her Şeyin Merkezindedir</h2>
                    <p>
                        Sunduğumuz tüm sağlık hizmetlerinde, tıbbın ulaştığı en üst düzeyde, güvenilir, hasta
                        odaklı ve kaliteli hizmet veren, hasta ve çalışan güvenliğini ön planda tutan, hasta haklarına
                        saygılı, çevreye duyarlı, nitelikli, çok çalışan, yenilikçi ve sürekli kendini
                        geliştiren öncü bir ekibiz.
                    </p>
                    <ul>
                        <li><span class="ti-mouse"></span>Modern Teknoloji</li>
                        <li><span class="ti-heart-broken"></span>Birinci Sınıf Hizmetler</li>
                        <li><span class="ti-package"></span>Tecrübeli Doktorlar</li>
                        <li><span class="ti-headphone-alt"></span>24 Saat Destek</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="review_part">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="client_review_part owl-carousel">
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>Sağlıklı yaşasa bile, dengesiz düşünen insan strese düşer, sinir sistemi tahrip olur.</p>
                        </div>
                        <h4>Muhammed Bozdağ, <span>Türk düşünür</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text media-body">
                            <p>Vücuduna tükenmez bir sadakatle bak. Gönül, yalnızca bu gözler aracılığıyla görür ve o gözlerin feri yoksa bütün dünya bulanık görünür…</p>
                        </div>
                        <h4>Goethe, <span>Ünlü düşünür</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>
                                Bugün temiz hava aldığım ve temiz su içtiğim için minnettarım.
                                Beni seven dostlarım ve ailem olduğu için minnettarım.
                                Sağlıklı bir bedenim, yaratıcı bir zihnim ve ilginç bir işim olduğu için minnettarım…
                            </p>
                        </div>
                        <h4>Arielle Ford, <span>Ünlü düşünür</span></h4>
                    </div>
                    <div class="client_review_single">
                        <img src="/img/Quote.png" class="Quote" alt="quote">
                        <div class="client_review_text">
                            <p>Hareket eksikliği her insanda iyi kondisyonu yok eder, hareket ve metodolojik fiziksel egzersiz ise onu korur ve sürdürebilmesini sağlar.</p>
                        </div>
                        <h4>Eflatun, <span>Ünlü düşünür</span></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>