
@{
    ViewBag.Title = "TahlilSorgulama";
}

<section class="breadcrumb breadcrumb_bg" style="margin-top:100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Tahlil Sorgulama</h2>
                        <p>Ana Sayfa<span>/</span>Tahlil Sorgulama</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>