@{
    ViewBag.Title = "E-postayı Onayla";
}

<h2>@ViewBag.Başlık.</h2>
<div>
    <p>
        E-postanızı onayladığınız için teşekkür ederiz. Lütfen @Html.ActionLink("Oturum açmak için buraya tıklayın", "Oturum aç", "Hesap", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
