@{
    ViewBag.Title = "Parola Onayını Unuttum";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Parolanızı sıfırlamak için lütfen e-postanızı kontrol edin.
    </p>
</div>
	
