@{
    ViewBag.Title = "Parola onayını sıfırla";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Parolanız sıfırlandı. Lütfen @Html.ActionLink("oturum açmak için buraya tıklayın", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
