
@{
    ViewBag.Title = "_OurAbility";
}

<section class="our_ability section_padding">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 col-lg-6">
                <div class="our_ability_img">
                    <img src="/img/ability_img.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="our_ability_member_text">
                    <h2>Hastalarımız Yaptığımız Her Şeyin Merkezindedir</h2>
                    <p>
                        Sunduğumuz tüm sağlık hizmetlerinde, tıbbın ulaştığı en üst düzeyde, güvenilir, hasta
                        odaklı ve kaliteli hizmet veren, hasta ve çalışan güvenliğini ön planda tutan, hasta haklarına
                        saygılı, çevreye duyarlı, nitelikli, çok çalışan, yenilikçi ve sürekli kendini
                        geliştiren öncü bir ekibiz.
                    </p>
                    <ul>
                        <li><span class="ti-mouse"></span>Modern Teknoloji</li>
                        <li><span class="ti-heart-broken"></span>Birinci Sınıf Hizmetler</li>
                        <li><span class="ti-package"></span>Tecrübeli Doktorlar</li>
                        <li><span class="ti-headphone-alt"></span>24 Saat Destek</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>