@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Kilitlendi";
}

<hgroup>
    <h1 class="text-danger">Kilitlendi.</h1>
    <h2 class="text-danger">Bu hesap kilitlendi, lütfen daha sonra tekrar deneyin.</h2>
</hgroup>
